.wrapper{
    display: flex;
    gap: 50px;
    text-align: center  ;
    justify-content: center;
    padding: 100px;
    background-color: rgb(238, 236, 236);
    .card{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    h2{
        
    }
    p{
        width: 300px;
    }
    i{
        font-size: 40px;
    }
   

}